<% require "ez_crud/html" %>

<% if model.errors.any? %>
  <ul class="errors">
  <% model.errors.full_messages.each do |message| %>
    <li class="error"><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: model, local: true, class: "form") do |form| %>
  <ul>
    <li>For for image file need image file upload</li>
    <li>For for file need file upload</li>
  </ul>

  <%=EzCrud::Html.inputs(form, model, local_assigns.fetch(:input_params, {}))%>

  <div class="actions">
    <%= form.submit class: "button #{model.id ? "edit" : "create"}" %>
  </div>

<% end %>
