<% require "ez_crud/html"
puts "TRACE:12345:#{model}"
%>
<%= form_with(model: model, local: true) do |f| %>
  <ul>
    <li>For belongs_to need single ajax select</li>
    <li>For has_many/HABTM to need multi ajax select</li>
    <li>For for image file need image file upload</li>
    <li>For for file need file upload</li>
    <li>For Text need markdown</li>
    <li>For Timestamp need datetime</li>
    <li>For color need color</li>
  </ul>

  <%=EzCrud::Html.inputs(model)%>

<% end %>
